@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@600&display=swap");
@import "mixins";

$bg-color: #ffd553;
$red-color: #ff000f;
$green-color: #008000;
$blue-color: #000fff;
$body-font: "Open Sans", sans-serif;
$heading: "Quicksand", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: $body-font;
  text-align: center;
  margin-top: 10%;
}

h1 {
  font-family: $heading;
  font-size: 3em;
  margin-bottom: 0.5em;
  color: #fff;
}

p {
  font-size: 1.5em;
  padding-bottom: 0.5em;
  color: #fff;
}

div {
  padding: 10px 0;
}

label,
output {
  font-size: 1.5em;
  margin: 0 15px;
}

input {
  -webkit-appearance: none;
  width: 10%;
  height: 1.5em;
  border-radius: 10px;
  outline: none;
}

#red-slider {
  input[type="range"] {
    border: 2px solid $red-color;
    width: 20em;
  }
  input[type="range"]::-webkit-slider-thumb {
    background-color: $red-color;
    @include slider-styling;
  }
  input[type="range"]::-moz-range-thumb {
    background-color: $red-color;
    border: none;
    @include slider-styling;
  }
  input[type="range"]::-moz-range-progress {
    background-color: $red-color;
    height: 1.2em;
  }
}

#green-slider {
  input[type="range"] {
    border: 2px solid $green-color;
    width: 20em;
  }
  input[type="range"]::-webkit-slider-thumb {
    background-color: $green-color;
    @include slider-styling;
  }
  input[type="range"]::-moz-range-thumb {
    background-color: $green-color;
    @include slider-styling;
    border: none;
  }
  input[type="range"]::-moz-range-progress {
    background-color: $green-color;
    height: 1.2em;
  }
}

#blue-slider {
  input[type="range"] {
    border: 2px solid $blue-color;
    width: 20em;
  }
  input[type="range"]::-webkit-slider-thumb {
    background-color: $blue-color;
    @include slider-styling;
  }
  input[type="range"]::-moz-range-thumb {
    background-color: $blue-color;
    border: none;
    @include slider-styling;
  }
  input[type="range"]::-moz-range-progress {
    background-color: $blue-color;
    height: 1.2em;
  }
}

label[for="red"] {
  background-color: $red-color;
  padding: 5px 20px;
  color: #fff;
  box-shadow: none;
  border-radius: 3px;
}

output[for="red"] {
  @extend label[for="red"];
}

label[for="green"] {
  @extend label[for="red"];
  background-color: $green-color;
}

output[for="green"] {
  @extend label[for="green"];
}

label[for="blue"] {
  @extend label[for="red"];
  background-color: $blue-color;
}

output[for="blue"] {
  @extend label[for="blue"];
}

#hex {
  margin: 0 auto;
  background-color: #fff;
  width: 14%;
  font-size: 2.5em;
  height: 9vh;
  padding-top: 2px;
  color: #000;
  opacity: 0.9;
  margin-top: 0.5em;
}
