@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 10%;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 3em;
  margin-bottom: 0.5em;
  color: #fff;
}

p {
  font-size: 1.5em;
  padding-bottom: 0.5em;
  color: #fff;
}

div {
  padding: 10px 0;
}

label,
output {
  font-size: 1.5em;
  margin: 0 15px;
}

input {
  -webkit-appearance: none;
  width: 10%;
  height: 1.5em;
  border-radius: 10px;
  outline: none;
}

#red-slider input[type="range"] {
  border: 2px solid #ff000f;
  width: 20em;
}

#red-slider input[type="range"]::-webkit-slider-thumb {
  background-color: #ff000f;
  -webkit-appearance: none;
          appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  outline: none;
}

#red-slider input[type="range"]::-moz-range-thumb {
  background-color: #ff000f;
  border: none;
  -moz-appearance: none;
       appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  outline: none;
}

#red-slider input[type="range"]::-moz-range-progress {
  background-color: #ff000f;
  height: 1.2em;
}

#green-slider input[type="range"] {
  border: 2px solid #008000;
  width: 20em;
}

#green-slider input[type="range"]::-webkit-slider-thumb {
  background-color: #008000;
  -webkit-appearance: none;
          appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  outline: none;
}

#green-slider input[type="range"]::-moz-range-thumb {
  background-color: #008000;
  -moz-appearance: none;
       appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  outline: none;
  border: none;
}

#green-slider input[type="range"]::-moz-range-progress {
  background-color: #008000;
  height: 1.2em;
}

#blue-slider input[type="range"] {
  border: 2px solid #000fff;
  width: 20em;
}

#blue-slider input[type="range"]::-webkit-slider-thumb {
  background-color: #000fff;
  -webkit-appearance: none;
          appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  outline: none;
}

#blue-slider input[type="range"]::-moz-range-thumb {
  background-color: #000fff;
  border: none;
  -moz-appearance: none;
       appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  outline: none;
}

#blue-slider input[type="range"]::-moz-range-progress {
  background-color: #000fff;
  height: 1.2em;
}

label[for="red"], output[for="red"], label[for="green"], output[for="green"], label[for="blue"], output[for="blue"] {
  background-color: #ff000f;
  padding: 5px 20px;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px;
}

label[for="green"], output[for="green"] {
  background-color: #008000;
}

label[for="blue"], output[for="blue"] {
  background-color: #000fff;
}

#hex {
  margin: 0 auto;
  background-color: #fff;
  width: 14%;
  font-size: 2.5em;
  height: 9vh;
  padding-top: 2px;
  color: #000;
  opacity: 0.9;
  margin-top: 0.5em;
}
/*# sourceMappingURL=style.css.map */